
.titulo{
    font-family: "Tusker";
}
.botaofont{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2rem;
    padding: 10px;
    font-size: 13px;
}
.btofont{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    padding: 10px;
    font-size: 12px;
    color: white;
    border-bottom: 1px white dotted;
}