    <div class="col" style="margin-bottom: 30px;">
      <div class="text-center card-box">
        {% if cliente.logo %}<img src="{{ cliente.logo.url }}" class="img-thumbnail" width="100">{% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'detalhes_cliente' cliente.pk %}">{{ cliente.nome|title }}</a>
          </h5>
          <p class="card-text text-muted">
            CNPJ: {{ cliente.cnpj }} <br>
            Razão Social: {{ cliente.razaosocial }}<br>
            Contato: {{ cliente.nomecontato }}<br>
            E-mail: {{ cliente.emailcontato }}<br>
            Líder Shoot: {{ cliente.lider_shoot }}<br>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Do dia {{ cliente.inicio|date:"d/m/Y" }} até o dia {{ cliente.fim|date:"d/m/Y" }}
          </small>
        </div>
      </div>
    </div>