{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Sistema interno da Shoot, apenas para colaboradores :)">
        <meta name="robots" content="noindex">
        <meta name="author" content="Artur Scartazzini">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="icon" href="{% static 'images/logicon.jpg' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>
            @font-face {
                font-family: 'Tusker';
                src: url("{% static 'images/tuskerfont.otf' %}");
                src: url("{% static 'images/tuskerfont.otf?#iefix' %}") format('embedded-opentype'),
                url("{% static 'images/tuskerfont.otf' %}") format('woff'),
                url('{% static "images/tuskerfont.otf" %}') format('truetype'),
                font-weight: normal;
                font-style: normal;
            }
        </style>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- RETORNO DAS MENSAGENS -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
<!--AQUI É O MENU -->
<div class="side_menu">
    <div class="burger_box sticky-top">
        <div class="menu-icon-container">
            <a href="#" class="menu-icon js-menu_toggle closed">
                <span class="menu-icon_box">
                    <span class="menu-icon_line menu-icon_line--1"></span>
                    <span class="menu-icon_line menu-icon_line--2"></span>
                    <span class="menu-icon_line menu-icon_line--3"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="px-5 sticky-top">
        <a class="navbar-brand" style="margin-top: 20px;" href="{% url 'index' %}">
            <img src="{% static 'images/logoshootblack.png' %}" alt="Shoot" width="150" height="38" class="d-inline-block align-text-top">
        </a>
            <div class="text-center title" style="margin-top: 20px;">
                <hr>
                <p class="text-center title" style="margin-top: 10px;">Bem vinde {{ user.get_full_name }} <br>
                    <a class="text-center title" href="{% url 'logout' %}">Sair</a></p>
            </div>
        <hr>
        <ul class="list_load justify-content-between text-center">

            <div class="accordion" id="recursosHumanos">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; border-radius: 5px; width: 100%; color: white; font-size: 11px; background-color: #47519b; padding: 10px;" type="button" data-bs-toggle="collapse" data-bs-target="#menurecursoshumanos" aria-expanded="false" aria-controls="menurecursoshumanos">
                            <i class="bi bi-person-circle"></i> Recursos Humanos
                        </button>
                    </p>
                    <div id="menurecursoshumanos" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#recursosHumanos">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'lista_colaboradores' %}">Shooters</a></li>
                            <li><a class="menuzin" href="{% url 'lista_climas' %}">Pesquisas e Comunicados</a></li>
                            <li><a class="menuzin" href="{% url 'curso' %}">Cursos</a></li>
                            <li><a class="menuzin" href="{% url 'feedback' %}">Feedback</a></li>
                            <li><a class="menuzin" href="{% url 'folguinha' %}">Férias e Folgas</a></li>
                            <li><a class="menuzin" href="{% url 'hierarquia' %}">Carreira</a></li>
                            <li><a class="menuzin" href="{% url 'promocao' %}">Promoções</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="menurelacionamentos">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; border-radius: 5px; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#relacionamentos" aria-expanded="false" aria-controls="relacionamentos">
                            <i class="bi bi-people-fill"></i> Relacionamentos
                        </button>
                    </p>
                    <div id="relacionamentos" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#menurelacionamentos">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'lista_cliente' %}">Relações Comerciais</a></a></li>
                            <li><a class="menuzin" href="{% url 'lista_proposta' %}">Propostas feitas</a></a></li>
                            <li><a class="menuzin" href="{% url 'lista_fornecedores' %}">Parceiros Sustentáveis</a></li>
                            <li><a class="menuzin" href="{% url 'MomentoImportante' %}">Momentos importantes</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="educação">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; border-radius: 5px; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menueducação" aria-expanded="false" aria-controls="menueducação">
                            <i class="bi bi-book-fill"></i> Educação
                        </button>
                    </p>
                    <div id="menueducação" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#educação">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'biblioteca' %}">Biblioteca</a></a></li>
                            <li><a class="menuzin" href="{% url 'palestras' %}">Palestras</a></li>
                            <li><a class="menuzin" href="{% url 'workshop' %}">Workshops</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="institucional">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; border-radius: 5px; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menuinstitucional" aria-expanded="false" aria-controls="menuinstitucional">
                            <i class="bi bi-briefcase-fill"></i> Institucional
                        </button>
                    </p>
                    <div id="menuinstitucional" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#institucional">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'canaisproprietarios' %}">Canais Proprietários</a></a></li>
                            <li><a class="menuzin" href="{% url 'premiacoes' %}">Premiações</a></li>
                            <li><a class="menuzin" href="{% url 'certificacoes' %}">Certificações</a></li>
                            <li><a class="menuzin" href="{% url 'newsletter' %}">Newsletter</a></li>
                            <li><a class="menuzin" href="{% url 'ferramentas' %}">Ferramentas</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="administração">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; border-radius: 5px; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menuadministração" aria-expanded="false" aria-controls="menuadministração">
                            <i class="bi bi-piggy-bank-fill"></i> Administração
                        </button>
                    </p>
                    <div id="menuadministração" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#administração">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'visao' %}">Visão da empresa</a></a></li>
                            <li><a class="menuzin" href="{% url 'contas' %}">Nossas contas</a></li>
                            <li><a class="menuzin" href="{% url 'juridicos' %}">Docs Jurídicos</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="criação">
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; border-radius: 5px; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menucriacao" aria-expanded="false" aria-controls="menucriacao">
                            <i class="bi bi-lightning-charge-fill"></i> Criação
                        </button>
                    </p>
                    <div id="menucriacao" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#criação">
                        <div class="accordion-body">
                            <li><a class="menuzin" href="{% url 'lista_projeto' %}">Comercial</a></a></li>
                            <li><a class="menuzin" href="{% url 'ativismo' %}">Ativismo</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p class="text-center title">Desenvolvido por Shoot em plena pandemia</p>
        </ul>

    </div>
</div>
{% endif %}

<!-- BLOCO PRINCIPAL -->
{% block content %}{% endblock %}

<!-- AQUI OS JAVASCRIPT -->
        <script src="{% static 'js/scripts.js' %}"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>