{% extends 'base_shoot.html' %}
{% block title %}Certificações{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Certificações realizadas</p>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">As certificações que fazem sentido pena</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui a gente coloca as nossas certificações</p>
        </div>
        <div class="col-md-8 coluninha_direita" style="padding-bottom: 30px;">
            {% for ce in certificacoes %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="{{ ce.selo.url }}" class="img-thumbnail" width="100" alt="{{ ce.nome }}">
                <span style="color: white; font-size: 10px;" class="badge bg-primary rounded-pill">Certificados dia {{ ce.quando|date:"d.m.Y" }}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted" style="border: 0; margin-top: 15px;">
                    {{ ce.desc }}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted" style="border: 0;">- O investimento foi de R$ {{ ce.preco }}</li>
            </ul>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}