{% extends 'base_shoot.html' %}
{% block title %}Clientes{% endblock %}
{% block content %}
<h1>Clientes</h1>
<table class="table table-borderless table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Nome</th>
        <th scope="col">Logo</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Razão Social</th>
        <th scope="col">Nome do Contato</th>
        <th scope="col">Email do Contato</th>
        <th scope="col">Líder Shoot</th>
      </tr>
    </thead>
    <tbody>
    {% for cliente in cliente %}
      <tr>
        <th scope="row">
            <a href="{% url 'detalhes_cliente' cliente.pk %}">
                <img src="{{ cliente.logo.url }}" width="100" height="100" class="img-thumbnail rounded">
            </a>
        </th>
        <td>{{ cliente.nome|title }}</a></td>
        <td>{{ cliente.cnpj }}</td>
        <td>{{ cliente.razaosocial }}</td>
        <td>{{ cliente.nomecontato }}</td>
        <td>{{ cliente.emailcontato }}</td>
        <td>{{ cliente.lider_shoot }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}