{% extends 'base_shoot.html' %}
{% block title %}Clima{% endblock %}
{% block content %}

<div class="content">
    <div class="container-sm" style="background: white; margin-top: 30px; border-radius: 3px; padding-bottom: 20px;">
        <div class="row">
            <div class="col-lg-4" style="background-color: white;">
                <p>Clima</p>
            </div>
            <div class="col-lg-4" style="background-color: white;">
                <p>Clima</p>
            </div>
            <div class="col-lg-4" style="background-color: white;">
                <p>Clima</p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}