{% extends 'base_shoot.html' %}
{% block title %}Comunicados e Pesquisas{% endblock %}
{% block content %}

<div class="container-sm">
    <div class="d-flex justify-content-end" style="text-align: center; margin-top: 20px;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#CadComunicado" style="color: rgba(246,203,71); width: 40px; padding-top: 10px; font-size: 2em;">
            <i class="bi bi-plus-circle-fill"></i></a>
    </div>
</div>

<div class="container-md">
    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4" style="background-color: #f5c2d8; padding: 50px; margin-bottom: 30px;">
            <h5 style="color: #47529c;">Pesquisas e comunicados realizados pela Shoot</h5>
            <p style="margin-top: 20px; color: #47529c;">A gente faz comunicados e pesquisas porque é preza e vale a pena deixar registrado quais são as nossas políticas e opiniões sobre coisas que podem ser importantes para as pessoas e para o negócio.</p>
        </div>
        <div class="col-md-8" style="background-color:white; padding-top: 30px; margin-bottom: 30px;">
            <ul class="timeline" style="padding-right: 20px;">
                {% for comu in lista_climas %}
                <li class="text-muted" style="text-align: left;">
                    <a href="{% url 'clima' comu.pk %}">{{ comu.nome }}</a>
                    <p class="float-right">{{ comu.quando }}</p>    
                    <p>{{ comu.desc }}</p>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}