{% extends 'base_shoot.html' %}
{% block title %}Comunicados e Pesquisas{% endblock %}
{% block content %}

<div class="container">

    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Pesquisas e comunicados</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Pesquisas e comunicados realizados pela Shoot</h5>
            <p style="margin-top: 20px; color: #47529c;">A gente faz comunicados e pesquisas porque é preza e vale a pena deixar registrado quais são as nossas políticas e opiniões sobre coisas que podem ser importantes para as pessoas e para o negócio.</p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <ul class="timeline" style="padding-right: 20px;">
                {% for comu in lista_climas %}
                <li class="text-muted" style="text-align: left;">
                    <a href="{% url 'clima' comu.pk %}">{{ comu.nome }}</a>
                    <p class="float-right">{{ comu.quando }}</p>    
                    <p>{{ comu.desc }}</p>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}