{% extends 'base_shoot.html' %}
{% block title %}Colaboradores{% endblock %}
{% block content %}
<h1>Colaboradores</h1>
<table class="table table-borderless table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Função</th>
        <th scope="col">Imagem</th>
      </tr>
    </thead>
    <tbody>
    {% for colaborador in colaboradores %}
      <tr>
        <th scope="row">{{ colaborador.nome }}</th>
        <td>{{ colaborador.emailpessoal }}</td>
        <td>{{ colaborador.funcaodobrother }}</td>
        <td><img src="{{ colaborador.foto }}" class="img-thumbnail rounded"></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}