{% extends 'base_shoot.html' %}
{% block title %}Colaboradores{% endblock %}
{% block content %}
<h1>Colaboradores</h1>
<table class="table table-borderless table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Função</th>
        <th scope="col">Imagem</th>
      </tr>
    </thead>
    <tbody>
    {% for colaborador in colaboradores %}
      <tr>
        <th scope="row">
            <a href="{% url 'detalhes_colaborador' colaborador.pk %}">
                <img src="{{ colaborador.foto }}" width="100" height="100" class="img-thumbnail rounded">
            </a>
        </th>
        <td>{{ colaborador.emailpessoal }}</td>
        <td>{{ colaborador.funcaodobrother }}</td>
        <td>{{ colaborador.nome }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}