{% extends 'base_shoot.html' %}
{% block title %}Colaboradores{% endblock %}
{% block content %}


<div class="content">
    <div class="container">
      <div class="d-flex justify-content-end" style="text-align: center; margin-top: 20px;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#CadPeople" style="color: rgba(246,203,71); width: 40px; padding-top: 10px; font-size: 2em;">
          <i class="bi bi-plus-circle-fill"></i></a>
      </div>  

      
      
      <div class="row" style="margin-top: 30px;">
        {% for colaborador in colaboradores %}
        <div class="col-lg-4">
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto">
                      <a href="{% url 'detalhes_colaborador' colaborador.pk %}">
                        {% if colaborador.foto %}  
                        <img src="{{ colaborador.foto.url }}" class="rounded-circle img-thumbnail" alt="{{ colaborador.nome }}">
                        {% else  %}
                        <img src="../static/images/semfoto.jpg" class="rounded-circle img-thumbnail" alt="{{ colaborador.nome }}">
                        {% endif  %}</a>
                    </div>
                      
                    <div class="">
                        <h4 style="margin-top: 20px;">{{ colaborador.nome }}</h4>
                        <p class="text-muted">{{ colaborador.funcaodobrother }}</p>
                        <span class="title">
                        Atualmente vive em  {% if colaborador.cidade %}{{ colaborador.cidade }}/{{ colaborador.estado }} {% endif  %}
                        </span>
                        <p><span class="text-pink">Entrou na Shoot dia {{ colaborador.entrounashoot|date:"d/m/Y" }}</span></p>
                    </div>
                 
                    <ul class="social-links list-inline">
                      {% if colaborador.instagram %} 
                        <li class="list-inline-item"><a target="_blank" title="Instagram do {{ colaborador.nome }}" data-placement="top" data-toggle="tooltip" class="tooltips" href="http://www.instagram.com/{{ colaborador.instagram }}" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                      {% endif  %}
                      {% if colaborador.facebook %} 
                        <li class="list-inline-item"><a target="_blank" title="Facebook do {{ colaborador.nome }}" data-placement="top" data-toggle="tooltip" class="tooltips" href="http://www.facebook.com/{{ colaborador.facebook }}" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      {% endif  %}
                      {% if colaborador.emailpessoal %} 
                        <li class="list-inline-item"><a target="_blank" title="Email do {{ colaborador.nome }}" data-placement="top" data-toggle="tooltip" class="tooltips" href="mailto:{{ colaborador.emailpessoal }}" data-original-title="Email"><i class="fa fa-envelope"></i></a></li>
                      {% endif  %}
                      {% if colaborador.linkedin %} 
                        <li class="list-inline-item"><a target="_blank" title="Linkedin do {{ colaborador.nome }}" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/{{ colaborador.linkedin }}" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                      {% endif  %}
                    </ul>
                 
                    <p class="title text-pink"><strong>Presente nos projetos:</strong></p>
                    
                    <table class="table text-muted">
                      <tr>
                          <td class="align-middle">00.00.0000</td>
                          <td class="align-middle">Projeto</td>
                          <td class="align-middle">Cliente</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col -->
        {% endfor %}
    </div>
    <!-- end row -->  
        
    </div>
    <!-- container -->
</div>
{% endblock %}