{% extends 'base_shoot.html' %}
{% block title %}Cursos{% endblock %}
{% block content %}

<div class="content">
    <div class="container-sm">

    <div class="d-flex justify-content-end" style="text-align: center; margin-top: 20px;">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#CadCurso">
          Cadastrar Curso
        </button>
    </div>

      <div class="modal fade" id="CadCurso" tabindex="-1" aria-labelledby="CadCurso" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="CadPessoa">Formulário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
              Aqui formzinho irado
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-warning">Inserir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="content">
<div class="container-sm" style="background-color:white; margin-top: 20px;">
        <div class="row" style="padding: 30px;">
            <h5>Investindo em cursos para as pessoas</h5>
        </div>
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-lg-4">
                <p style="padding-left: 15px;">A gente faz tem disponivel X de grana por pessoa anualmente.</p>
            </div>
            <div class="col-md-8">
                <ul class="timeline" style="padding-right: 20px;">
                    {% for cu in curso %}
                    <li class="text-muted" style="text-align: left;">
                        <a href="">{{ cu.qual }}</a>
                        <p class="float-right">{{ cu.quando }}</p>    
                        <p>O {{ cu.paraquem }} fez o curso que custou R$ {{ cu.verba }}  </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}