{% extends 'base_shoot.html' %}
{% block title %}Cursos{% endblock %}
{% block content %}

<div class="container-sm">
    <div class="d-flex justify-content-end" style="text-align: center; margin-top: 20px;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#CadCurso" style="color: rgba(246,203,71); width: 40px; padding-top: 10px; font-size: 2em;">
        <i class="bi bi-plus-circle-fill"></i></a>
    </div>
</div>

<div class="container-md">
    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4" style="background-color: #f5c2d8; padding: 50px; margin-bottom: 30px;">
            <h5 style="color: #47529c;">Investindo em cursos para as pessoas</h5>
            <p style="margin-top: 20px; color: #47529c;">A gente faz tem disponivel X de grana por pessoa anualmente.</p>
        </div>
        <div class="col-md-8" style="background-color:white; padding-top: 30px; margin-bottom: 30px;">
            <ul class="timeline" style="padding-right: 20px;">
                {% for cu in curso %}
                <li class="text-muted" style="text-align: left;">
                    <a href="{% url 'lista_curso' cu.pk %}">{{ cu.qual }}</a>
                    <p class="float-right">{{ cu.quando }}</p>    
                    <p>O {{ cu.paraquem }} fez o curso que custou R$ {{ cu.verba }}  </p>
                </li>
                {% endfor %}         
            </ul>
        </div>
    </div>
</div>

{% endblock %}