{% extends 'base_shoot.html' %}
{% block title %}Cursos{% endblock %}
{% block content %}

<div class="container">
    
    <p class="titulo" style="color: white; margin-top: 50px; text-transform: uppercase; font-size: 60px;">Desenvolvimento Profissional</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Investindo nas pessoas</h5>
            <p style="margin-top: 20px; color: #47529c;">
                
                Por ano, cada pessoa que trabalha na Shoot possui uma verba de R$ 500 para investir no seu desenvolvimento profissional através de cursos, eventos e livros de seu interesse e/ou equipamentos de infraestrutura de trabalho. Para utilização de verba, o colaborador precisará solicitá-la através da liderança de RH, que vai averiguar se o objetivo do investimento condiz com desenvolvimento profissional. Esse valor não é repassado ao colaborador, mas sim pago diretamente pela Shoot ao fornecedor escolhido.
                <br><br>
                Os valores não utilizados em um ano não são cumulativos. Pessoas que não trabalharam o ano inteiro terão esse valor proporcional ao número de dias trabalhados.
                
                
            </p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <ul class="timeline" style="padding-right: 20px;">
                {% for cu in curso %}
                <li class="text-muted" style="text-align: left;">
                    <a href="{% url 'lista_curso' cu.pk %}">{{ cu.qual }}</a>
                    <p class="float-right">{{ cu.quando }}</p>    
                    <p>{{ cu.paraquem }} fez o curso que custou R$ {{ cu.verba }}  </p>
                </li>
                {% endfor %}         
            </ul>
        </div>
    </div>
</div>

{% endblock %}