{% extends 'base_shoot.html' %}
{% block title %}{{ colaborador.nome|title }}{% endblock %}
{% block content %}

<div class="modal fade" id="CadFerias" tabindex="-1" aria-labelledby="CadFerias" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CadFerias">Cadastrando Férias</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form5Example1" class="form-control" />
                  <label class="form-label" for="form5Example1">Quem</label>
                </div>
              
                <!-- Date input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">De quando</label>
                </div>
              
                <!-- Date input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">Até quando</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-warning">Inserir</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="CadCursos" tabindex="-1" aria-labelledby="CadCursos" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CadCursos">Cadastrando Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form5Example1" class="form-control" />
                  <label class="form-label" for="form5Example1">Nome do curso</label>
                </div>
              
                <!-- Date input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">Quando</label>
                </div>
              
                <!-- Date input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">Quem</label>
                </div>

                <!-- Date input -->
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">,00</span>
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-warning">Inserir</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="CadCarreira" tabindex="-1" aria-labelledby="CadCarreira" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CadCarreira">Promovendo a pessoa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
            <form>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form5Example1" class="form-control" />
                  <label class="form-label" for="form5Example1">Quem</label>
                </div>
              
                <div class="input-group mb-4">
                    <label class="input-group-text" for="inputGroupSelect01">Nova função</label>
                    <select class="form-select" id="inputGroupSelect01">
                      <option selected>Selecione...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
                <br>
                <!-- Date input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form5Example1" class="form-control" />
                    <label class="form-label" for="form5Example1">Quando</label>
                </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-warning">Inserir</button>
        </div>
      </div>
    </div>
</div>

<div class="content" style="padding-bottom: 160px;">
    <div class="container-sm">
        <div class="row" style="background: white; margin-top: 20px; border-radius: 3px; padding-bottom: 20px;">
            <div class="col-lg-4 text-muted" style="padding-top:10px;margin-top: 20px; padding-bottom: 30px; text-align: center;">
                {% if colaborador.foto %}  
                <img src="{{ colaborador.foto.url }}" width="310" height="300" class="img-thumbnail">
                {% else  %}
                <img src="/static/images/semfoto.jpg" width="310" height="300" class="img-thumbnail">
                {% endif  %}</a>
                
                <br>
                <table class="table text-muted" style="margin-top: 10px;">
                    <tr>
                        <td class="align-middle" style="border: 0;">
                            <a href="#" class="fa fa-linkedin col-2"></a>
                            <a href="#" class="fa fa-envelope col-2"></a>
                            <a href="#" class="fa fa-facebook col-2"></a>
                            <a href="#" class="fa fa-instagram col-2"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle" style="border: 0;">
                            Atualmente é {{ colaborador.funcaodobrother }} <br>
                            e recebe R$ {{ colaborador.salario }} mensais
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-7" style="padding-top:10px;margin-top: 30px;">
                <table class="table text-muted">
                    <thead>
                      <tr>
                        <th scope="col" colspan="3" class="text-pink">{{ colaborador.nome }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">{{ colaborador.bio }}</td>
                      </tr>
                      <tr>
                        <td><a href="{{ colaborador.cpffile }}">CPF {{ colaborador.cpf }}</a></td>
                        <td><a href="{{ colaborador.rgfile }}">RG {{ colaborador.errege }}</a></td>
                      </tr>
                      <tr>
                        <td>{{ colaborador.endereco }}</td>
                        <td>{{ colaborador.cidade }}/{{ colaborador.estado }} - {{ colaborador.pais }}</td>
                      </tr>
                      <tr>
                        <td>Nasceu em {{ colaborador.data_nascimento }}</td>
                        <td>Entrou na Shoot {{ colaborador.entrounashoot }}</td>
                      </tr>
                      <tr>
                        <td>Fone {{ colaborador.telefone }}</td>
                        <td>Email pessoal {{ colaborador.emailpessoal }}</td>
                      </tr>
                      <tr>
                        <td>Banco {{ colaborador.banco }}</td>
                        <td>Conta {{ colaborador.conta }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
</div>       

<div class="container">

        
        
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 text-pink text-center" style="padding-top: 30px; background-color: white; padding-bottom: 30px;">
                <div class="row">
                    <div class="col">
                        <p class="text-pink" style="margin-top:10px"><strong>Carreira</strong></p>
                    </div>
                    <div class="d-grid justify-content-md-end" style="margin-right: 40px; margin-bottom: 20px;">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#CadCarreira">+</button>
                    </div>
                </div>
                <ul class="timeline" style="padding-right: 20px;">
                    <li class="text-muted" style="text-align: left;">
                        {{ colaborador.funcaodobrother }}
                        <p class="float-right">00.00.0000</p>
                    </li>
                    <li class="text-muted" style="text-align: left;">
                        Assistente de Arte
                        <p class="float-right">00.00.0000</p>
                    </li>
                </ul>
                
                    
            </div>
            
           
            <div class="col-md-4 text-pink text-center" style="padding-top: 30px; background-color: white; padding-bottom: 30px;">
                <div class="row">
                    <div class="col">
                        <p class="text-pink" style="margin-top:10px"><strong>Cursos realizados</strong></p>
                    </div>
                    <div class="d-grid justify-content-md-end" style="margin-right: 40px; margin-bottom: 20px;">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#CadCursos">+</button>
                    </div>
                </div>
                <table class="table text-muted">
                    <tr>
                        <td>Nome do curso</td>
                        <td>00.00.0000</td>
                    </tr>
                    <tr>
                        <td>Nome do curso</td>
                        <td>00.00.0000</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4 text-pink text-center" style="padding-top: 30px; background-color: white; padding-bottom: 30px;">
                <div class="row">
                    <div class="col">
                        <p class="text-pink" style="margin-top:10px"><strong>Folgas e Férias</strong></p>
                    </div>
                    <div class="d-grid justify-content-md-end" style="margin-right: 40px; margin-bottom: 20px;">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#CadFerias">+</button>
                    </div>
                </div>
                <table class="table text-muted">
                    <tr>
                        <td>De 00.00.0000</td>
                        <td>Até 00.00.0000</td>
                    </tr>
                    <tr>
                        <td>De 00.00.0000</td>
                        <td>Até 00.00.0000</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="col-md-8 text-center" style="padding-top: 50px; padding-bottom: 20px; background-color: white;">
                <p class="text-pink"><strong>Projetos que a pessoa tá liderando</strong></p>    
                <table class="table text-muted">
                    <tr>
                        <td class="align-middle">00.00.0000</td>
                        <td class="align-middle">Nome do projeto</td>
                        <td class="align-middle">Nome do cliente</td>
                    </tr>
                    <tr>
                        <td class="align-middle">00.00.0000</td>
                        <td class="align-middle">Nome do projeto</td>
                        <td class="align-middle">Nome do cliente</td>
                    </tr>
                    <tr>
                        <td class="align-middle">00.00.0000</td>
                        <td class="align-middle">Nome do projeto</td>
                        <td class="align-middle">Nome do cliente</td>
                    </tr>
                    <tr>
                        <td class="align-middle">00.00.0000</td>
                        <td class="align-middle">Nome do projeto</td>
                        <td class="align-middle">Nome do cliente</td>
                    </tr>
                </table>   
            </div>
            
            <div class="col-md-4 text-pink text-center" style="padding-top: 50px; padding-bottom: 20px; background-color: white;">
                <p class="text-pink"><strong>Salários</strong></p>
                <table class="table text-muted">
                    <tr>
                        <td>R$ 000000</td>
                        <td>00.00.0000</td>
                    </tr>
                    <tr>
                        <td>R$ 000000</td>
                        <td>00.00.0000</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center" style="text-align: center; margin-top: 80px;">
        <p class="text-muted"><a href="{% url 'lista_colaboradores' %}" style="color: rgba(246,203,71)">Colaboradores </a>
            <span style="color: white;"> | {{ colaborador.nome }}</span></p>
    </div>
    
</div>
{% endblock %}

