{% extends 'base_shoot.html' %}
{% block title %}{{ cliente.nome|title }}{% endblock %}
{% block content %}
    <h1>Shoot</h1>
    <img src="{{ cliente.logo.url }}" width="100" height="100">
    <p>Razão Social: {{ cliente.razaosocial }}</p>
    <p>Nome do contato: {{ cliente.nomecontato }}</p>
    <p>Email do contato: {{ cliente.emailcontato }}</p>
    <p>Fone do contato: {{ cliente.fonecontato }}</p>
    <p>Líder Shoot: {{ cliente.lider_shoot }}</p>
    <p><a href="{% url 'lista_cliente' %}">Voltar Para Listagem de Clientes</a></p>
{% endblock %}