{% extends 'base_shoot.html' %}
{% block title %}<h1>{{ proposta.nome|title }}</h1>{% endblock %}
{% block content %}
    <h1>Shoot</h1>
    <p>Número da proposta: {{ proposta.numero }}</p>
    <p>Cliente: {{ proposta.cliente }}</p>
    <p>Workframe: {{ proposta.tipoprojeto }}</p>
    <p>Valor da proposta: {{ proposta.valor_final }}</p>
    <p>Lucro Shoot: {{ proposta.lucro }}</p>
    <p>Ativismo: {{ proposta.ativismo }}</p>
    <p>Horas vendidas: {{ proposta.horas }}</p>
    <br>
    <p><a href="{% url 'lista_proposta' %}">Voltar Para Listagem de Propostas</a></p>
{% endblock %}