{% extends 'base_shoot.html' %}
{% block title %}<h1>{{ projeto.nome|title }}</h1>{% endblock %}
{% block content %}
    <h1>Shoot</h1>
    <p><strong>Resumo: </strong> {{ projeto.resumo|linebreaks }}</p>
    <p><strong>Número da proposta: </strong> {{ projeto.numero }}</p>
    <p><strong>Líder do projeto: </strong> {{ projeto.lider_shoot }}</p>
    <strong>Colaboradores no projeto: </strong>
    {% for colaborador in projeto.colaboradores.all %}
    {{ colaborador.nome|linebreaks }}
    {% empty %}
    <p>Não tem colaboradores no projeto</p>
    {% endfor %}
    <br>
    <p><a href="{% url 'lista_projeto' %}">Voltar Para Listagem de Projetos</a> | <a href="{% url 'contato' %}">Contato</a></p>
{% endblock %}