{% extends 'base_shoot.html' %}
{% block title %}Ferramentas{% endblock %}
{% block content %}

<div class="container">
  
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Nossas ferramentas de trabalho</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-3 coluninha_left">
            <h5 style="color: #47529c;">Ferramentas contratadas ou free</h5>
            <p style="margin-top: 20px; color: #47529c;">
            Usuários e senhas de todas as ferramentas digitais e acessos que a Shoot necessita para desenvolvimento do trabalho.  
            </p>
        </div>
        <div class="col-md-9 coluninha_direita">
            
            <table class="table table-hover text-muted">
                <thead>
                  <tr style="background-color:  #47529c; color: white;">
                    <th scope="col">Ferramenta</th>
                    <th scope="col">User</th>
                    <th scope="col">Pass</th>
                    <th scope="col">Descrição</th>
                  </tr>
                </thead>
                <tbody>
                {% for fe in ferramentas %}
                  <tr>
                    <th scope="row">{{ fe.nome }}</th>
                    <td>{{ fe.user|default_if_none:"-" }}</td>
                    <td><button type="button" class="btn btn-sm btn-secondary" style="font-size: 11px" title="{{ fe.senha }}" data-toggle="popover" data-placement="bottom">Senha</button></td>
                    <td>{{ fe.desc }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}