{% extends 'base_shoot.html' %}
{% block title %}Férias e Folgas{% endblock %}
{% block content %}

<div class="content">
    <div class="container-sm">

        <div class="d-flex justify-content-end" style="text-align: center; margin-top: 20px;">
            <a href="#" data-bs-toggle="modal" data-bs-target="#CadFolga" style="color: rgba(246,203,71); width: 40px; padding-top: 10px; font-size: 2em;">
                <i class="bi bi-plus-circle-fill"></i></a>
        </div>

    </div>
</div>
<div class="content">
<div class="container-sm" style="background-color:white; margin-top: 20px;">
        <div class="row" style="padding: 30px;">
            <h5>Geral tem o direito de descansar</h5>
        </div>
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-lg-4">
                <p style="padding-left: 15px;">Aqui um registro de folgas e férias das pessoas da Shoot.</p>
            </div>
            <div class="col-md-8">
                <ul class="timeline" style="padding-right: 20px;">
                    {% for fol in folguinha %}
                    <li class="text-muted" style="text-align: left;">
                        {{ fol.quem }}
                        <p class="float-right">{{ fol.inicio }} até {{ fol.fim }}</p>    
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}