{% extends 'base_shoot.html' %}
{% block title %}Férias e Folgas{% endblock %}
{% block content %}

<div class="container">
    
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Férias e folgas registradas</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Geral tem o direito de descansar</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui um registro de folgas e férias das pessoas da Shoot.</p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <ul class="timeline" style="padding-right: 20px;">
                {% for fol in folguinha %}
                <li class="text-muted" style="text-align: left;">
                    {{ fol.quem }}
                    <p class="float-right">{{ fol.inicio }} até {{ fol.fim }}</p>    
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}