{% extends 'base_shoot.html' %}
{% block title %}Fornecedores{% endblock %}
{% block content %}
<div class="container">
   
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Parceiros da Shoot</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4" style="background-color: #f5c2d8; padding: 50px; margin-bottom: 30px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;">
            <h5 style="color: #47529c;">Parceiro bom é parceiro sustentável</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui a gente coloca a lista inteira de parceiros que temos. </p>
        </div>
        <div class="col-md-8" style="background-color:white; padding-top: 30px; margin-bottom: 30px; border-top-right-radius: 10px;border-bottom-right-radius: 10px;">

            <div class="accordion" id="parceirosfornecedores">
                {% for atividade in atividades %}
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menuparceirosfornecedores-{{ atividade.id }}" aria-expanded="false" aria-controls="menuparceirosfornecedores-{{ atividade.id }}">
                            {{ atividade.nome|upper }} <span class="badge badge-danger" style="color: white;">{{ atividade.fornecedores_set.count }} Parceiro{{ atividade.fornecedores_set.count|pluralize }}</span>
                        </button>
                    </p>
                    {% for forne in atividade.fornecedores_set.all %}
                    <div id="menuparceirosfornecedores-{{ atividade.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#parceirosfornecedores">
                        <div class="accordion-body">
                            <div class="row text-muted">
                                <div class="col-md-3"><a href="#" class="text-pink">{{ forne.titulo }}</a></div>
                                <div class="col-md-3">{{ forne.atividade }}</div>
                                <div class="col-md-3">{{ forne.oque }}</div>
                                <div class="col-md-3">{{ forne.iniciativanaobranca|yesno:"Sim,Não" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock %}