{% extends 'base_shoot.html' %}
{% block title %}Fornecedores{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Parceiros da Shoot</p>
    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Parceiro bom é parceiro sustentável</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui a gente coloca a lista inteira de parceiros que temos. </p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <div class="accordion" id="parceirosfornecedores">
                {% for atividade in atividades %}
                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="border:0; width: 100%; color: white; font-size: 11px; background-color: #47519b; padding: 10px;"  type="button" data-bs-toggle="collapse" data-bs-target="#menuparceirosfornecedores-{{ atividade.id }}" aria-expanded="false" aria-controls="menuparceirosfornecedores-{{ atividade.id }}">
                            {{ atividade.nome|upper }} <span class="badge badge-danger" style="color: white;">{{ atividade.fornecedores_set.count }} Parceiro{{ atividade.fornecedores_set.count|pluralize }}</span>
                        </button>
                    </p>
                    <div id="menuparceirosfornecedores-{{ atividade.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#parceirosfornecedores">
                        <div class="accordion-body" style="margin-bottom: 20px;">
                            <div class="row" style="background-color:rgba(246,203,71); color: white; font-size: 12px; padding: 10px; margin-bottom: 10px;">
                                <div class="col-md-3"><strong>Nome do parceiro</strong></div>
                                <div class="col-md-3"><strong>Atividade Comercial</strong></div>
                                <div class="col-md-3"><strong>Quem é o contato</strong></div>
                                <div class="col-md-3"><strong>Iniciativa Sustentável</strong></div>
                            </div>
                            {% for forne in atividade.fornecedores_set.all %}
                            <div class="row text-muted">
                                <div class="col-md-3"><a href="{% url 'detalhes_fornecedores' forne.pk %}" class="text-pink">{{ forne.titulo }}</a></div>
                                <div class="col-md-3">{{ forne.atividade }}</div>
                                <div class="col-md-3">{{ forne.oque }}</div>
                                <div class="col-md-3">{{ forne.iniciativanaobranca|yesno:"Sim,Não" }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}