{% extends 'base_shoot.html' %}
{% block title %}Hierarquias{% endblock %}
{% block content %}

<div class="container-sm">

    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">As funções da Shoot</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4" style="background-color: #f5c2d8; padding: 50px; margin-bottom: 30px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;">
            <h5 style="color: #47529c;">As funções da Shoot</h5>
            <p style="margin-top: 20px; color: #47529c;">bla bla bla de porque é importante essa clareza. e queria clicar em cima de um e ver todas as pessoas que estão nessa função. Uma lista de pessoas filtradas pela função selecionada.</p>
        </div>
        <div class="col-md-8" style="background-color:white; padding-top: 30px; margin-bottom: 30px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
            <ul class="list-group" style="padding-top: 20px; padding-bottom: 20px;">
                {% for hiera in hierarquia %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ hiera.nome }}
                    <span class="badge bg-warning rounded-pill" style="color: white; padding: 10px;">Entre R$ {{ hiera.salariomin }} e R$ {{ hiera.salariomax }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}