{% extends 'base_shoot.html' %}
{% block title %}Shoot{% endblock %}
{% block content %}

<div class="container-sm">

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
               Próxima celebração!
            </div>
            <div class="row justify-content-center">
                <img src="/media/colaboradores/fotos/1610046982408.jpg" width="100" class="rounded-circle img-thumbnail" alt="EU"> <br>
            </div>
            <div class="row justify-content-center text-center text-muted" style="padding-bottom: 20px; margin-top: 10px;">
                É a Francine Ramos,<br>no dia 00.00.0000 <br><br>
                Falta 00 dias!
            </div>
            <div class="row text-center text-muted justify-content-center" style="padding-bottom: 20px;">
                <a href="#" class="btn btn-warning" style="font-size: 11px;">Ver mais</a>
            </div>
        </div>
        <div class="col-md-8 card shadow" style="margin-left: 30px; ">
            <div class="row text-pink justify-content-center tituloindex">
                Histórias aleatórias
             </div>
             <img src="static/images/imersao.jpg" height="240" alt="">

        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
                Biblioteca
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center card-box">
                        <img src="/media/bibilioteca/imagens/41rBOE-soML._SX362_BO1204203200_.jpg" class="img-thumbnail" width="200">
                        <div class="card-body">
                            <h5 class="card-title">{{ bibli.titulo|title }}</h5>
                            <span class="text-muted"><i>De quem é: {{ bibli.autor }}</i></span><br><br>
                            <p class="card-text text-muted">
                            <strong>Porque você deveria ler?</strong><br>
                                {{ bibli.desc }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                Recomendado por {{ bibli.recomendado }}
                            </small>
                        </div>
                        <a href="#" class="btn btn-warning" style="font-size: 11px; margin-top: 20px;">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 card shadow" style="margin-left: 30px;background-color: white; ">
            <div class="row text-pink justify-content-center tituloindex">
                Clientes ativos
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/81794824_2709232479123620_1148099832586436608_n.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/guarida_transparent.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/81794824_2709232479123620_1148099832586436608_n.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/guarida_transparent.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/81794824_2709232479123620_1148099832586436608_n.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/guarida_transparent.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>

                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/81794824_2709232479123620_1148099832586436608_n.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/guarida_transparent.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="#">
                        <img src="/media/clientes/logos/81794824_2709232479123620_1148099832586436608_n.png" width="130" style="margin-top: 20px;" class="rounded-circle img-thumbnail" alt="EU"> <br>
                    </a>
                </div>
            </div>
            <div class="row text-center text-muted justify-content-center" style="padding-top: 20px; margin-top: 20px; padding-bottom: 20px;">
                <a href="#" class="btn btn-warning" style="font-size: 11px;">Ver todos</a>
            </div>
            
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
                Ferramentas
            </div>
        </div>
        <div class="col-md-8" style="margin-left: 30px;">
            <div class="row">
                <div class="col-md-12 card shadow" style="background-color: white; ">
                    <div class="row text-pink justify-content-center tituloindex">
                        Datas importantes
                    </div>
                </div>
            </div>
            <div class="row card shadow" style="margin-top: 30px;">
                <div class="col">
                    <div class="row text-pink justify-content-center tituloindex">
                        Financeiro
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row" style="margin-top: 50px;">

        <div class="col-md-5 card shadow" style="background-color: white; margin-left: 30px;">
            13 projetos da causa X
        </div>
        <div class="col-md-6 card shadow" style="margin-left: 30px;background-color: white; ">
            ODS que mais atuamos
        </div>
    </div>

</div>

{% endblock %}