{% extends 'base_shoot.html' %}
{% block title %}Shoot{% endblock %}
{% block content %}

<div class="container-sm">

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
               Próxima celebração!
            </div>
            {% if proximo_aniversariante %}
            <div class="row justify-content-center">
                <img src="{{ proximo_aniversariante.foto.url }}" width="100" class="rounded-circle img-thumbnail" alt="EU"> <br>
            </div>
            <div class="row justify-content-center text-center text-muted" style="padding-bottom: 5px; margin-top: 20px;">
                Aniversário <br> {{ proximo_aniversariante.nome }},<br>no dia {{ proximo_aniversariante.data_nascimento|date:"d.m" }} <br><br>
            </div>
            <div class="row text-center text-muted justify-content-center" style="padding-bottom: 20px;">
                <a href="{% url 'detalhes_colaborador' proximo_aniversariante.pk %}" class="btn btn-warning" style="font-size: 11px;">Ver mais</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 card shadow" style="margin-left: 30px; ">
            <div class="row text-pink justify-content-center tituloindex">
                Histórias aleatórias
             </div>
             <img src="static/images/imersao.jpg" height="240" alt="">

        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
                Biblioteca
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center card-box">
                        <img src="{{ biblioteca.imagem.url }}" class="img-thumbnail" width="170">
                        <div class="card-body">
                            <h5 class="card-title">{{ biblioteca.titulo|title }}</h5>
                            <span class="text-muted"><i>De quem é: {{ biblioteca.autor }}</i></span><br><br>
                            <p class="card-text text-muted">
                            <strong>Porque você deveria ler?</strong><br>
                                {{ biblioteca.desc }}
                            </p>
                        </div>
                        <a href="{% url 'biblioteca' %}" class="btn btn-warning" style="font-size: 11px;">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 card shadow" style="margin-left: 30px;background-color: white; ">
            <div class="row text-pink justify-content-center tituloindex">
                Clientes ativos
            </div>
            <div class="row justify-content-center">
                {% for cli in clientes %}
                <div class="col-sm-3 text-center" style="margin-right: 10px; margin-left: 10px;">
                    <a href="{% url 'detalhes_cliente' cli.pk %}">
                        <img src="{{ cli.logo.url }}" width="180" style="margin-top: 20px;" class="img-thumbnail rounded-circle" alt="EU"> <br>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row text-center text-muted justify-content-center" style="padding-top: 20px; margin-top: 20px; padding-bottom: 20px;">
                <a href="{% url 'lista_cliente' %}" class="btn btn-warning" style="font-size: 11px;">Ver todos</a>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-5 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
                Ferramentas
            </div>
            <div class="row">
            <table class="table text-muted table-hover">
                <tr>
                    <th scope="col">Ferramenta</th>
                    <th scope="col">User</th>
                    <th scope="col">Pass</th>
                  </tr>
                  {% for ferra in ferramentas %}
                  <tr>
                    <td>{{ ferra.nome }}</td>
                    <td>{{ ferra.user }}</td>
                    <td>{{ ferra.senha }}</td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
        </div>
        <div class="col-md-6" style="margin-left: 30px;">
            <div class="row">
                <div class="col-md-12 card shadow" style="background-color: white; ">
                    <div class="row text-pink justify-content-center tituloindex">
                        Datas importantes
                    </div>
                    <ul class="timeline" style="padding-right: 20px;">
                        {% for momento in momentos %}
                        <li class="text-muted" style="text-align: left;">
                            {{ momento.nome }} | {{ momento.quem }}
                            <p class="float-right">{{ momento.quando|date:"d.m" }}</p>
                            <p>{{ momento.desc }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row card shadow" style="margin-top: 30px;">
                <div class="col">
                    <div class="row text-pink justify-content-center tituloindex">
                        Financeiro
                    </div>
                    <div class="row">
                        <table class="table text-muted table-hover">
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Classificação</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Valor</th>
                              </tr>
                              {% for fin in financeiro|dictsortreversed:"data" %}
                              <tr>
                                <td>{{ fin.data|date:"d.m" }}</td>
                                <td><a href="{% url 'contas' fin.pk %}" class="text-pink">{{ fin.classifica }}</a></td>
                                <td>{{ fin.tipo }}</td>
                                <td>R$ {{ fin.valor|floatformat:"2g" }}</td>
                              </tr>
                              {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 50px; padding-bottom: 100px;">
        <div class="col-md-5 card shadow" style="background-color: white; margin-left: 30px;">
            <div class="row text-pink justify-content-center tituloindex">
                Quantos projetos já realizamos esse ano
            </div>
            <div class="row justify-content-center">
                <h1 style="font-size:5em">
                    {{ projeto.count }}
                </h1>
            </div>
        </div>
        <div class="col-md-6 card shadow" style="margin-left: 30px;background-color: white; ">
            <div class="row text-pink justify-content-center tituloindex">
                ODS mais contempladas

            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                hahah
            </div>
        </div>
    </div>
</div>

{% endblock %}