{% extends 'base_shoot.html' %}
{% block title %}Shoot{% endblock %}
{% block content %}

<main>
    <div class="px-5 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-5" src="static/images/logoshoot.png" alt="" width="300" height="75">
      <h1 class="display-5 fw-bold">CRIAMOS IDEIAS PARA UM MUNDO MELHOR</h1>
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Conheça nosso trabalho</button>
        </div>
      </div>
    </div>
</main>

{% endblock %}