{% extends 'base_shoot.html' %}
{% block title %}Inscrições em premiações{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Premiações que inscrevemos</p>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Premiações que valem a pena</h5>
            <p style="margin-top: 20px; color: #47529c;">Ao lado teremos uma lista de premiações que já inscrevemos nossos projetos</p>
        </div>
        <div class="col-md-8 coluninha_direita" style="padding-bottom: 30px;">
            {% for ins in inscricao %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ ins.premio }}</strong>
                <span style="color: white; font-size: 12px;" class="badge bg-primary rounded-pill">{{ ins.projeto }}</span></li>
                <li class="list-group-item d-flex align-items-center text-muted" style="border: 0; margin-top: 15px;">
                    Inscrevemos na categoria <strong>&ThinSpace; {{ ins.categoria }} &ThinSpace;</strong>no dia {{ ins.quando }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="border: 0;">
                    <span style="color: white; font-size: 12px;" class="badge bg-warning rounded-pill">
                        {% if ins.posicao %}  
                            {{ ins.posicao }}
                        {% else  %}
                            Ainda sem resultado
                        {% endif  %}    
                    </span>
                </li>

            </ul>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px; padding-bottom: 100px;">
    <div class="col justify-content-center text-center">
        <p class="text-muted"><a href="{% url 'index' %}" style="color: rgba(246,203,71)">Início </a>
        <span style="color: white;"> | Onde inscrevemos</span></p>
    </div>
</div>
{% endblock %}