{% extends 'base_shoot.html' %}
{% block title %}Login Shoot{% endblock %}
{% block content %}

<div class="container">

    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Login Shoot</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-8 coluninha_direita">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="Submit" value="Login" />
            </form>
        </div>
    </div>
</div>

{% endblock %}