{% extends 'base_shoot.html' %}
{% block title %}Palestras Shoot{% endblock %}
{% block content %}

<div class="container">

    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Palestras</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Nosso jeito de se papagaiar</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui uma lista de conteúdos que criamos para inspirar. Criatividade, empreendedorismo, causas, marcas</p>
        </div>
        <div class="col-md-8 coluninha_direita">
            {% for pale in palestras %}
            <h5 style="color: #47529c; font-size: 38px; font-family: Tusker; text-transform: uppercase;">{{ pale.nome }}</h5>
            <span class="text-muted"> 
                <strong>Sobre o que é:</strong><br>
                {{ pale.desc }} <br><br>
                <strong>Quem dá essa palestra:</strong><br>
                {{ pale.quem.all|join:", " }}
            </span>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}