{% extends 'base_shoot.html' %}
{% block title %}Premiações Interessantes pra Shoot{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Premiações</p>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Uma lista que vale a pena</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui a gente coloca uma lista de premiações que a gente curtiria participar</p>
            <a href="{% url 'inscricao' %}" type="button" class="btn btn-sm btn-success btn-rounded" style="margin-top: 20px;">Prêmios que já nos inscrevemos</a>
        </div>
        <div class="col-md-8 coluninha_direita" style="padding-bottom: 30px;">
            {% for pre in premiacoes %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ pre.nome }}</strong>
                <span style="color: white; font-size: 10px;" class="badge bg-primary rounded-pill">{{ pre.periodo }}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted" style="border: 0;">{{ pre.desc }}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted" style="border: 0;">Categorias que poderíamos inscrever:<br>{{ pre.categorias }}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted" style="border: 0;">- O investimento médio pra inscrever é de R$ {{ pre.investimento }}</li>
            </ul>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}