{% extends 'base_shoot.html' %}
{% block title %}Premiações Interessantes pra Shoot{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Premiações</p>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-3 coluninha_left">
            <h5 style="color: #47529c;">Uma lista que vale a pena</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui a gente coloca uma lista de premiações que a gente curtiria participar</p>
            <a href="{% url 'inscricao' %}" type="button" class="btn btn-sm btn-success btn-rounded" style="margin-top: 20px;">Prêmios que já nos inscrevemos</a>
        </div>
        <div class="col-md-9 coluninha_direita" style="padding-bottom: 30px;">
           
            <table class="table table-hover text-muted">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Período</th>
                    <th scope="col">Investimento</th>
                  </tr>
                </thead>
                <tbody>
                {% for pre in premiacoes %}
                  <tr>
                    <td><a href="{{ pre.site }}" target="_blank" class="text-pink">{{ pre.nome }}</a></td>
                    <td>{{ pre.categorias }}</td>
                    <td>{{ pre.periodo }}</td>
                    <td>{{ pre.investimento|default_if_none:"nem ideia" }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          
        </div>
    </div>
</div>
{% endblock %}