{% extends 'base_shoot.html' %}
{% block title %}Projetos{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Nossos projetos comerciais</p>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <p style="color: white; font-size: 14px;">Listadinho todos projetos que fizemos</p>
        </div>
    </div>
    <div class="form-group pull-center">
        <input type="text" class="search form-control" placeholder="O que você está procurando nessa página?">
    </div>
    <span class="contador pull-center"></span>
</div>

<div class="container-fluid card">
    <div class="row" style="padding-bottom: 30px; padding-top: 30px; background-color: white;">
        <div class="col-md-12">
            <div class="table-responsive-md">
                <table class="table table-hover resultados text-muted">
                    <thead>
                    <tr style="background-color:  #47529c; color: white;">
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status</th>
                        <th scope="col">Impacto</th>
                        <th scope="col">ODS</th>
                        <th scope="col" style="text-align: center;" colspan="3">Atalhos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pro in projetos|dictsortreversed:"data_inicio" %}
                    <tr>
                        <td>{{ pro.numero.tipoprojeto }}</td>
                        <th><a href="{% url 'detalhes_projeto' pro.pk %}" class="text-pink">{{ pro.nome }}</a></th>
                        <td>{{ pro.numero.cliente }}</td>
                        <td>{{ pro.processo }}</td>
                        <td>{{ pro.impacto }}</td>
                        <td>
                            {% if pro.ods.all %}
                            {{ pro.ods.all|join:", " }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td style="text-align: right;">
                            {% if pro.urlasana %}
                            <a href="http://{{ pro.urlasana }}" target="_blank" class="bi bi-kanban-fill" style="color:black; font-size: 16px;"></a>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if pro.urlbriefing %}
                            <a href="http://{{ pro.urlbriefing }}" target="_blank" class="bi bi-file-earmark-word-fill" style="color:black; font-size: 16px;"></a>
                            {% endif %}
                        </td>
                        <td style="text-align: left;">
                            {% if pro.urldebriefing %}
                            <a href="http://{{ pro.urldebriefing }}" target="_blank" class="bi bi-check-square-fill" style="color:black; font-size: 16px;"></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}