{% extends 'base_shoot.html' %}
{% block title %}Promoções{% endblock %}
{% block content %}

<div class="container-sm">
    
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Promoções já feitas</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Promovendo as pessoas</h5>
            <p style="margin-top: 20px; color: #47529c;">
                Quais os critérios para promoção.
                <br><br>
                Tempo: <br>
                Quanto tempo a pessoa está na Shoot e no cargo em questão.
                <br><br>
                Entregas:<br>
                O nível de qualidade das entregas feitas pela pessoa.
                <br><br>
                Cultura da Shoot:<br>
                Quanto da cultura da Shoot está internalizada nas entregas da pessoa.
                <br><br>
                Familiaridade com nova posição:<br>
                Quanto das novas tarefas que a promoção exige já foram executadas pela pessoa.

            
            </p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <ul class="timeline" style="padding-right: 20px;">
                {% for promo in promocao|dictsortreversed:"quando" %}
                <li class="text-muted" style="text-align: left;">
                    {{ promo.quem }}
                    <p class="float-right">{{ promo.quando }}</p>    
                    <p>Promovido a {{ promo.paraqual }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}