{% extends 'base_shoot.html' %}
{% block title %}Promoções{% endblock %}
{% block content %}

<div class="container-sm">
    
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Promoções já feitas</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Promovendo a galera</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui um registro dos feedbacks feitos com as pessoas da Shoot. Seria interessante, ao clicar no nome da pessoa, abrir um histórico de promoções dela</p>
        </div>
        <div class="col-md-8 coluninha_direita">
            <ul class="timeline" style="padding-right: 20px;">
                {% for promo in promocao %}
                <li class="text-muted" style="text-align: left;">
                    {{ promo.quem }}
                    <p class="float-right">{{ promo.quando }}</p>    
                    <p>Promovido a {{ promo.paraqual }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}