{% extends 'base_shoot.html' %}
{% block title %}Visão{% endblock %}
{% block content %}
<div class="container">
    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">A VISÃO DA SHOOT</p>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Visão dos próximos 5 anos</h5>
            <p style="margin-top: 20px; color: #47529c;">Qual a visão do Artur e do Luciano para os próximos 5 anos da Shoot?</p>
        </div>
        <div class="col-md-8 coluninha_direita" style="padding-bottom: 30px; padding-left: 50px; padding-right: 100px; padding-top: 40px;">
            <p class="text-muted">Visão lançada em <strong> {{ visao.inicio|date:"d.m.Y" }}</strong> e válida até <strong> {{ visao.fim|date:"d.m.Y" }}</strong></p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="width: {{ progress_value|floatformat:'0' }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{ progress_value|floatformat:"0" }}%
                </div>
            </div>
            <br>
            <p class="text-muted">Ainda falta {{ visao.fim|timeuntil }} | Já passou {{ visao.inicio|timesince }}</p>
            <figure>
                <blockquote class="blockquote">
                  <p class="small">
                    {{ visao.texto|linebreaksbr }}
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Artur Scartazzini, Luciano Braga
                </figcaption>
              </figure>
        </div>
    </div>
</div>
{% endblock %}