{% extends 'base_shoot.html' %}
{% block title %}Workshops da Shoot{% endblock %}
{% block content %}

<div class="container">

    <p class="titulo" style="color: white; text-transform: uppercase; font-size: 60px; margin-top: 50px;">Workshops</p>

    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4 coluninha_left">
            <h5 style="color: #47529c;">Nosso jeito de se papagaiar</h5>
            <p style="margin-top: 20px; color: #47529c;">Aqui uma lista de tipos de Workshops que realizamos</p>
        </div>
        <div class="col-md-8 coluninha_direita">
            {% for ws in workshop %}
            <h5 style="color: #47529c; font-size: 24px;">{{ ws.titulo }}</h5> <br>
            <span class="text-muted"> 
                <strong>Breve descrição:</strong><br>
                {{ ws.desc }} <br><br>
                <strong>Objetivos:</strong><br>
                {{ ws.objetivos }} <br><br>
                <strong>Roteiro:</strong><br>
                {{ ws.roteiro }} <br><br>
            </span>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}